@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.triangle {
  width: 20px;
  height: 20px;
  background: #8ccee8;
  opacity: 85%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  left: 50%;
  transform: translate(-50%,-200%);

}
